<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-right" id="navbar-collapse-content">
  <ul class="nav navbar-nav">
    <%= render collapsible_links_partial_path %>
  </ul>
</div><!-- /.navbar-collapse -->